<div class="carousel-container">
    <div class="carousel">
        <div class="carousel-item"><img src="../Static/img/slider/london.jpg" alt="London"></div>
        <div class="carousel-item"><img src="../Static/img/slider/ny.jpg" alt="New York"></div>
        <div class="carousel-item"><img src="../Static/img/slider/spb.jpg" alt="Saint Petersburg"></div>
    </div>
    <button style="left: 10px;" class="carousel-button" id="prev" aria-label="Previous">PREV</button>
    <button style="right: 10px" class="carousel-button" id="next" aria-label="Next">NEXT</button>
    <div class="carousel-indicators"></div>
</div>