<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <title>LifeSpot</title>
</head>
<body>
    <script src="../Static/JS/index.js" type="text/javascript"></script>
    <script>
        //checkAge();
        //sessionLog(userData);
    </script>
    <header>
        <div id="header-index">
            <h1>LifeSpot — прямые трансляции с улиц</h1>
            <p>Покажем, что происходит прямо сейчас</p>
        </div>
    </header>
    <main>
        <!--Видео с трансляциями-->
        <div class="video-container">
            <div>
                <iframe height="320" src="https://www.youtube.com/embed/YT2-W5Sddew" title="Москва онлайн камера" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Москва онлайн камера</p>
            </div>
            <div>
                <iframe height="320" src="https://www.youtube.com/embed/h1wly909BYw?si=qRpfg1mruzWlAG_y" title="Санкт-Петербург, Гостиный двор" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Санкт-Петербург, Гостиный двор</p>
            </div>
            <div>
                <iframe height="320" src="https://www.youtube.com/embed/JplMzss6_YE" title="London Bus Ride 🇬🇧 - ENTERING EVERY BUS - Empty London Lockdown Tour - London Live" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>London Bus онлайн</p>
            </div>
        </div>
        <!--Кнопка поиска-->
        <div class="search-container">
            <input type="text" id="myInput" oninput="filterContent()" size="50%">

            <button type="submit">Найти</button>

        </div>
    </main>
    <!--SIDEBAR-->
    <!--FOOTER-->
</body>
</html>
